# Account vars
DEPLOYER_PRIVATE_KEY=
DEPLOYER_ADDRESS=
ONIT_OWNER_ADDRESS=
# Tooling keys
ALCHEMY_API_KEY=
ETHERSCAN_API_KEY=
# Fork state vars
ANVIL_FORK_CHAIN_ID=8453
ANVIL_FORK_URL=https://base-mainnet.g.alchemy.com/v2/${ALCHEMY_API_KEY}
ANVIL_FORK_BLOCK_NUMBER=